* {
  margin: 0;
  cursor: pointer;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right{
  display: flex;
  flex-direction: column;
}

.app__dropdown {
  background-color: white;
}

.app__right{
  display: flex;
  flex-direction: column;
}


.app__right .MuiCardContent-root{
  display: felx;
  flex-direction: column;
  flex-grow: 1;
}


.app__graph{
  flex-grow: 1;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
